<!-- views/partials/head.ejs -->
<meta charset="UTF-8">
<title>Super Awesome</title>

<!-- CSS (load bootstrap from a CDN) -->
<link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" crossorigin="anonymous">
<style>
  body{
    padding-bottom: 50px;
  }
  footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 40px;
    /* Set the fixed height of the footer here */
    line-height: 40px;
    /* Vertically center the text there */
    background-color: #333;
    /* Not required */
    border-top: 1px solid #444;
  }
</style>